extends layout

block content
	.ui.container
		.ui.hidden.divider
		h2.ui.header
			| TouchRing
			.sub.header Hardware test and Saving System.
		.ui.divider
		.ui.form
			.three.fields
				.field
					label Saving File Name
					input(id="fileName" ,type='text', placeholder='FileName.json')
				.field
					label Current Type
					select.ui.dropdown(id='currentType')
						option(value='') Type
						option(value='0') 0
						option(value='1') 1
						option(value='2') 2
						option(value='3') 3
						option(value='4') 4
						option(value='5') 5
						option(value='6') 6
						option(value='7') 7
						option(value='8') 8
						option(value='9') 9
						option(value='10') 10
			label Saving Elements
			.three.fields
				.field
					.ui.checkbox
						input.hidden(id='filterCheck',type='checkbox', tabindex='0', checked)
						label Filter
				.field
					.ui.checkbox
						input.hidden(id='baseCheck',type='checkbox', tabindex='1', checked)
						label Base
				.field
					.ui.checkbox
						input.hidden(id='stateCheck',type='checkbox', tabindex='2', checked)
						label Touch State
			.ui.primary.submit.button(id="savingBtn") Start Recording
		
		.ui.divider
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
		.row
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
			i.fa.fa-circle.fa-3x
	script(type='text/javascript', src='./javascripts/dataTransfer.js')