doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/semantic.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
		script(type='text/javascript', src='/javascripts/socket.io.js')
		script(type='text/javascript', src='/javascripts/semantic.min.js')
		block content
