extends layout

block content
	link(rel='stylesheet', href='/stylesheets/userstudy.css')
	.ui.container
		.ui.hidden.divider
		h2.ui.header
			| TouchRing
			.sub.header User Study for finger gesture (Chose row and col first, and then press SPACE on keyboard for getting next instruction)
		.ui.divider

		.ui.form#form
			.fields
				.inline.field
					label Row
					input(id="row", type='text', placeholder='row', value="1")
				.inline.field
					label Col
					input(id="col", type='text', placeholder='col', value="1")
				.ui.submit.button Change
		.ui.divider

		.handImg
		.ui.hidden.divider
		.ui.active.progress#progress
			.bar
				.progress
		h3.ui.header#count Current: 0
		button.ui.primary.button.nextBtn Next
		.ui.green.message(style="display:none") done
		.ui.blue.message(style="display:none")
	script(type='text/javascript', src='./javascripts/userstudy.js')