extends layout

block content
	.ui.container
		.ui.hidden.divider
		h2.ui.header
			| TouchRing
			.sub.header Camera Control
		.ui.hidden.divider
		button.ui.button.negative Take Photo (or Press space on Keyboard)
		button.ui.button#resetBtn Reset Count
		.ui.hidden.divider
		div.ui.floating.message
			p#fileName 
		img.ui.fluid.image

	script(type='text/javascript', src='/javascripts/userstudyControl.js')