.handImg {
	width: 661px;
	height: 315px;
	background-image: url("./../images/finger.png");
	border: solid 2px;
	text-shadow: white 0px 0px 2px;
	font-size: 16px;
	background-size: 661px;
}

/*.inlineDiv.First{
	width: 22% !important;
}*/

/*.placeholder{
	width: 1px;
	height: 110px;
}*/

/*.inlineDiv{

	display: inline-block;
	vertical-align: bottom;
	margin-top: 140px;

	width: 30px;
	text-align: right;

}*/

.dot{
	font-size: 10px;
	color: blue;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dot_acitve{
	color: red !important;
}

br {
   display: block;
   margin: 10px 0;
}